In [8]:
import pandas as pd
from tqdm import tqdm
from utils import print_scores

In [9]:
df = pd.read_json('arabert_beam5.json')
df.head()

,file_name,references,hypothesis
0,1056338697_4f7d7ce270.jpg,"[[112, 4, 5, 151, 16, 122, 109, 664, 689, 4, 5...","[20, 4, 5, 7, 4, 5, 16, 10, 4, 71]"
1,353180303_6a24179c50.jpg,"[[112, 4, 5, 215, 10, 4, 236, 1008, 962, 253, ...","[112, 4, 5, 7, 4, 5, 16, 10, 4, 50]"
2,1415591512_a84644750c.jpg,"[[20, 4, 5, 91, 16, 10, 4, 793, 21, 4, 10, 4, ...","[20, 4, 5, 7, 4, 5, 7, 4, 5, 16, 10, 4, 71]"
3,3256043809_47258e0b3e.jpg,"[[12, 65, 15, 4, 31, 1232, 10, 4, 209, 10, 4, ...","[90, 45, 10, 4, 89, 38, 4, 121, 16, 10, 4, 55]"
4,3499720588_c32590108e.jpg,"[[28, 389, 1743, 4, 5, 976, 4, 5, 38, 10, 4, 8...","[28, 15, 4, 112, 4, 5, 16, 10, 4, 50]"

In [10]:
# getting unique file_names
files = []
refes = []
hypos = []
for fname in tqdm(df.file_name.unique()):
    refes.append(df[df.file_name==fname].references.to_list()[0])
    hypos.append(df[df.file_name==fname].hypothesis.to_list()[0])
    files.append(fname)

100%|██████████| 984/984 [00:03<00:00, 279.20it/s]

In [46]:
b1, b2, b3, b4 = [], [], [], []

new_refes = []
new_hypos = []
for ref, hypo in zip(refes, hypos):
    if len(hypo) < 5 or len(hypo) < 4 or len(hypo) < 3:
        print("Hypo",hypo)
        continue
    for r in ref:
        flag = False
        if len(r) < 5 or len(r) <4 or len(r) < 2:
            print("ref", r)
            flag = True
    if flag:
        continue
     
    new_refes.append(ref)
    new_hypos.append(hypo)
    
    scores = print_scores([ref], [hypo], prnt=False)
    b1.append(scores[0])
    b2.append(scores[1])
    b3.append(scores[2])
    b4.append(scores[3])

ref [20, 4, 5, 479]
ref [12, 243, 72, 605]
ref [12, 14, 51]
ref [28, 16, 462]
ref [12, 243]
ref [6, 16, 74]
ref [144, 38, 103]
ref [77, 4, 5, 690]
ref [12, 31, 7, 797]
ref [28, 92, 95, 160]
ref [49, 1857, 682, 859]
ref [12, 404, 368, 105]
ref [49, 658]
ref [219, 51, 155, 763]
ref [12, 275]
ref [28, 658]
ref [28, 106, 23, 116]
ref [12, 407, 341]
ref [169, 16, 702]
ref [12, 65, 41]
ref [513, 703, 1485]
ref [1037, 4, 5, 2305]
ref [331, 92, 95, 160]
ref [271, 131]
ref [12, 51, 45, 381]
ref [49, 106, 18, 241]
ref [169, 683]
ref [12, 51, 52, 1762]
ref [6, 18, 733]
ref [78, 356, 23, 116]
Hypo [153, 4, 5, 465]

In [47]:
import numpy as np

In [48]:
print_scores(refes, hypos)

----- Bleu-n Scores -----
1: 58.678484239386094
2: 46.85683508774053
3: 36.14555791431082
4: 27.864202291806382
-------------------------

(58.678484239386094, 46.85683508774053, 36.14555791431082, 27.864202291806382)

In [49]:
np.array(b4).mean()

18.07367174196325

In [50]:
len(new_hypos)

974

In [51]:
len(new_refes)

974

In [52]:
len(hypos)

984

In [53]:
print_scores(new_refes, new_hypos)

----- Bleu-n Scores -----
1: 58.60823592413804
2: 46.78486320797221
3: 36.07428783073953
4: 27.799982738281543
-------------------------

(58.60823592413804, 46.78486320797221, 36.07428783073953, 27.799982738281543)