In [1]:
import pandas as pd

In [2]:
df = pd.read_json("data/ar_data.json")
df.head()

,file_name,caption,split,tok_len,tokens
0,1000268201_693b08cb0e.jpg,طفلة صغيرة تتسلق إلى مسرح خشبي,train,10,"[طفل, +, ة, صغير, +, ة, تتسلق, إلى, مسرح, خشبي]"
1,1000268201_693b08cb0e.jpg,طفلة صغيرة تتسلق الدرج إلى منزلها,train,14,"[طفل, +, ة, صغير, +, ة, تتسلق, ال, +, درج, إلى..."
2,1000268201_693b08cb0e.jpg,فتاة صغيرة في ثوب وردي تذهب إلى المقصورة الخشبية,train,21,"[فتا, +, ة, صغير, +, ة, في, ثوب, وردي, تذهب, إ..."
3,1001773457_577c3a7d70.jpg,كلب أسود وكلب ثلاثي الألوان يلعبان مع بعضهما ا...,train,23,"[كلب, أسود, و, +, كلب, ثلاثي, ال, +, ألوان, يل..."
4,1001773457_577c3a7d70.jpg,كلب أسود وكلب أبيض ببقع بنية يحدقان في بعضهما ...,train,24,"[كلب, أسود, و, +, كلب, أبيض, ب, +, بقع, بني, +..."

In [3]:
df.tok_len.min(), df.tok_len.max()

(2, 60)

In [8]:
df_less_5 = df[df.tok_len < 5]
df_less_5

,file_name,caption,split,tok_len,tokens
15,1007320043_627395c3d8.jpg,طفل يلعب على حبل,train,4,"[طفل, يلعب, على, حبل]"
218,1089181217_ee1167f7af.jpg,كلب يسير في طريق,train,4,"[كلب, يسير, في, طريق]"
246,1095580424_76f0aa8a3e.jpg,كلب يخرج من نفق,train,4,"[كلب, يخرج, من, نفق]"
249,1095590286_c654f7e5a9.jpg,كلب يطارد كلب آخر,train,4,"[كلب, يطارد, كلب, آخر]"
251,1095590286_c654f7e5a9.jpg,كلبان يركضان,train,4,"[كلب, +, ان, يركضان]"
...,...,...,...,...,...
23850,95151149_5ca6747df6.jpg,منظر طبيعي جبلي,train,3,"[منظر, طبيعي, جبلي]"
23852,95151149_5ca6747df6.jpg,جبال صخرية,train,4,"[جبال, صخري, +, ة]"
23946,975131015_9acd25db9c.jpg,صبي أشقر يداعب نمر,train,4,"[صبي, أشقر, يداعب, نمر]"
23947,975131015_9acd25db9c.jpg,صبي يداعب نمر نائم,train,4,"[صبي, يداعب, نمر, نائم]"
23961,978580450_e862715aba.jpg,طفل شقراء يسبح,train,3,"[طفل, شقراء, يسبح]"

In [14]:
df_less_5[df_less_5.split=='train'].shape[0], df_less_5[df_less_5.split=='val'].shape[0], df_less_5[df_less_5.split=='test'].shape[0]

(249, 38, 32)

In [29]:
pd.DataFrame(df_less_5.file_name.value_counts() > 2).reset_indext_index()

                         index  file_name
0    1095590286_c654f7e5a9.jpg      False
1    3111208043_dbe8e87fa1.jpg      False
2    2439154641_bbf985aa57.jpg      False
3     436393371_822ee70952.jpg      False
4    3381584882_341ee3092f.jpg      False
..                         ...        ...
299  2884252132_5d8e776893.jpg      False
300  2902661518_1513be3ea6.jpg      False
301  2466171100_5e60cfcc11.jpg      False
302  2402793046_3385554e81.jpg      False
303  1772859261_236c09b861.jpg      False

[304 rows x 2 columns]

### Drop (rows) captions with less than 5 tokens

In [31]:
df.tok_len < 5

0        False
1        False
2        False
3        False
4        False
         ...
23995    False
23996    False
23997    False
23998    False
23999    False
Name: tok_len, Length: 24000, dtype: bool

In [35]:
df.drop(df[df.tok_len < 5].index).shape

(23681, 5)

In [36]:
df.to_json("data/data_no_less_than_5.json")