### Getting kaggle.json file

In [2]:
#!pip install ipywidgets

In [3]:
from ipywidgets import widgets
uploader = widgets.FileUpload(accept='.json', multiples=False)
uploader

FileUpload(value={}, accept='.json', description='Upload')

In [7]:
#!mkdir /root/.kaggle/
with open('/root/.kaggle/kaggle.json', 'wb') as file:
    file.write(uploader.value['kaggle.json']['content'])

### Getting the data

In [9]:
!pip install kaggle -q
!kaggle datasets download -d adityajn105/flickr8k

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading flickr8k.zip to /notebooks/Image-Captioning
100%|█████████████████████████████████████▉| 1.04G/1.04G [00:32<00:00, 37.5MB/s]
100%|██████████████████████████████████████| 1.04G/1.04G [00:32<00:00, 34.0MB/s]

In [13]:
#unzip the data
!unzip -q flickr8k.zip

In [14]:
# git config
!git config --global user.email "moaaztaha7@gmail.com"
!git config --global user.name "moaaz"

### Smaller dataset
- one description per image

In [18]:
import pandas as pd
df = pd.read_csv('captions.txt')
df[:7]

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...
5,1001773457_577c3a7d70.jpg,A black dog and a spotted dog are fighting
6,1001773457_577c3a7d70.jpg,A black dog and a tri-colored dog playing with...

In [19]:
# remove duplicate rows in image column -> remove duplicates
df.drop_duplicates(subset='image', inplace=True)

In [20]:
df[:6]

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
5,1001773457_577c3a7d70.jpg,A black dog and a spotted dog are fighting
10,1002674143_1b742ab4b8.jpg,A little girl covered in paint sits in front o...
15,1003163366_44323f5815.jpg,A man lays on a bench while his dog sits by him .
20,1007129816_e794419615.jpg,A man in an orange hat starring at something .
25,1007320043_627395c3d8.jpg,A child playing on a rope net .

In [29]:
# saving the new sentences
df.to_csv('one_desc.txt', index=0)

In [27]:
# loading tokenizer
#!python -m spacy download en

### Building test examples

In [52]:
ds = {
    "image": ['dog.jpg', "child.jpg", "bus.png", "boat.png", "horse.png"],
    "description": ["Dog on a beach by the ocean", "Child holding red frisbee outdoors", 
                   "Bus driving by parked cars", "A small boat in the ocean", "A cowboy riding a horse in the desert"]
}

In [53]:
df = pd.DataFrame.from_dict(ds)

In [56]:
df

       image                            description
0    dog.jpg            Dog on a beach by the ocean
1  child.jpg     Child holding red frisbee outdoors
2    bus.png             Bus driving by parked cars
3   boat.png              A small boat in the ocean
4  horse.png  A cowboy riding a horse in the desert

In [57]:
df.to_csv('test.csv', index=0)