In [1]:
import pandas as pd
import json
from tqdm import tqdm

### Karpathy Splits

In [2]:
file_path = 'dataset_flickr8k.json'
with open(file_path, 'r') as f:
    data = json.load(f)

In [3]:
file_names = []
splits = []
captions = []

for img in data['images']:
    for sent in img['sentences']:
        file_names.append(img['filename'])
        captions.append(sent['raw'])
        splits.append(img['split'])

In [4]:
df = pd.DataFrame({
    'file_name': file_names,
    'split': splits,
    'caption': captions
})

In [5]:
df.head(10)

,file_name,split,caption
0,2513260012_03d33305cf.jpg,train,A black dog is running after a white dog in th...
1,2513260012_03d33305cf.jpg,train,Black dog chasing brown dog through snow
2,2513260012_03d33305cf.jpg,train,Two dogs chase each other across the snowy gro...
3,2513260012_03d33305cf.jpg,train,Two dogs play together in the snow .
4,2513260012_03d33305cf.jpg,train,Two dogs running through a low lying body of w...
5,2903617548_d3e38d7f88.jpg,train,A little baby plays croquet .
6,2903617548_d3e38d7f88.jpg,train,A little girl plays croquet next to a truck .
7,2903617548_d3e38d7f88.jpg,train,The child is playing croquette by the truck .
8,2903617548_d3e38d7f88.jpg,train,The kid is in front of a car with a put and a ...
9,2903617548_d3e38d7f88.jpg,train,The little boy is playing with a croquet hamme...

In [6]:
df['split'].unique()

array(['train', 'val', 'test'], dtype=object)

In [7]:
df.shape

(40000, 3)

In [8]:
df.file_name.nunique()

8000

In [9]:
print(df[df['split'] == 'train'].file_name.nunique())
print(df[df['split'] == 'val'].file_name.nunique())
print(df[df['split'] == 'test'].file_name.nunique())

6000
1000
1000

In [10]:
df.to_csv("data.csv", index=False)

### Arabic

In [2]:
# make sure they have the images for the testset
df = pd.read_csv('data.csv')

In [3]:
# getting the arabic data
ar_df = pd.read_csv('ar_captions_full.txt', sep='\t', names=['file_name', 'caption'])
ar_df.head()

,file_name,caption
0,1000268201_693b08cb0e.jpg#0,طفلة صغيرة تتسلق إلى مسرح خشبي
1,1000268201_693b08cb0e.jpg#1,طفلة صغيرة تتسلق الدرج إلى منزلها
2,1000268201_693b08cb0e.jpg#2,فتاة صغيرة في ثوب وردي تذهب إلى المقصورة الخشبية
3,1001773457_577c3a7d70.jpg#0,كلب أسود وكلب ثلاثي الألوان يلعبان مع بعضهما ا...
4,1001773457_577c3a7d70.jpg#1,كلب أسود وكلب أبيض ببقع بنية يحدقان في بعضهما ...

In [4]:
ar_df.file_name = ar_df.file_name.apply(lambda x: x.split("#")[0])
ar_df.head()

,file_name,caption
0,1000268201_693b08cb0e.jpg,طفلة صغيرة تتسلق إلى مسرح خشبي
1,1000268201_693b08cb0e.jpg,طفلة صغيرة تتسلق الدرج إلى منزلها
2,1000268201_693b08cb0e.jpg,فتاة صغيرة في ثوب وردي تذهب إلى المقصورة الخشبية
3,1001773457_577c3a7d70.jpg,كلب أسود وكلب ثلاثي الألوان يلعبان مع بعضهما ا...
4,1001773457_577c3a7d70.jpg,كلب أسود وكلب أبيض ببقع بنية يحدقان في بعضهما ...

In [5]:
ar_df['split'] = 'other'

In [6]:
def split(x):
    
    if x in test_names:
        return 'test'
    elif x in val_names:
        return 'val'
    elif x in train_names:
        return 'train'
    else:
        print(x)

In [7]:
test_names = df[df['split'] == 'test'].file_name.unique()
val_names = df[df['split'] == 'val'].file_name.unique()
train_names = df[df['split'] == 'train'].file_name.unique()
len(train_names), len(val_names), len(test_names)

(6000, 1000, 1000)

In [8]:
ar_df['split'] = ar_df['file_name'].apply(lambda row: split(row))
ar_df.sample(5)

1155138244_859fd6e079.jpg
1155138244_859fd6e079.jpg
1155138244_859fd6e079.jpg
1468103286_96a6e07029.jpg
1468103286_96a6e07029.jpg
1468103286_96a6e07029.jpg
1479857177_9d4a6f38fd.jpg
1479857177_9d4a6f38fd.jpg
1479857177_9d4a6f38fd.jpg
1643915227_9f48068772.jpg
1643915227_9f48068772.jpg
1643915227_9f48068772.jpg
1797554350_20998753c0.jpg
1797554350_20998753c0.jpg
1797554350_20998753c0.jpg
1808504612_3508f3c9bb.jpg
1808504612_3508f3c9bb.jpg
1808504612_3508f3c9bb.jpg
199463720_329a802206.jpg
199463720_329a802206.jpg
199463720_329a802206.jpg
2058091220_2087270068.jpg
2058091220_2087270068.jpg
2058091220_2087270068.jpg
2087317114_cf06df5aa5.jpg
2087317114_cf06df5aa5.jpg
2087317114_cf06df5aa5.jpg
2136455112_202c093ba4.jpg
2136455112_202c093ba4.jpg
2136455112_202c093ba4.jpg
2221818690_9003756d33.jpg
2221818690_9003756d33.jpg
2221818690_9003756d33.jpg
2319197581_94f807b204.jpg
2319197581_94f807b204.jpg
2319197581_94f807b204.jpg
236095031_5cb17dc54a.jpg
236095031_5cb17dc54a.jpg
236095031_5cb17dc54a.jpg
2394824046_51cec8e5e7.jpg
2394824046_51cec8e5e7.jpg
2394824046_51cec8e5e7.jpg
240696675_7d05193aa0.jpg
240696675_7d05193aa0.jpg
240696675_7d05193aa0.jpg
2410153942_ba4a136358.jpg
2410153942_ba4a136358.jpg
2410153942_ba4a136358.jpg
2428275562_4bde2bc5ea.jpg
2428275562_4bde2bc5ea.jpg
2428275562_4bde2bc5ea.jpg
2553619107_d382a820f9.jpg
2553619107_d382a820f9.jpg
2553619107_d382a820f9.jpg
2557972410_6925fe695c.jpg
2557972410_6925fe695c.jpg
2557972410_6925fe695c.jpg
2582390123_71120edb0c.jpg
2582390123_71120edb0c.jpg
2582390123_71120edb0c.jpg
2616508003_fa5ca5780d.jpg
2616508003_fa5ca5780d.jpg
2616508003_fa5ca5780d.jpg
2714703706_d21c5cb8df.jpg
2714703706_d21c5cb8df.jpg
2714703706_d21c5cb8df.jpg
2719101587_4ba70dee14.jpg
2719101587_4ba70dee14.jpg
2719101587_4ba70dee14.jpg
2747714500_49476225c6.jpg
2747714500_49476225c6.jpg
2747714500_49476225c6.jpg
2755314937_1e974bf2b5.jpg
2755314937_1e974bf2b5.jpg
2755314937_1e974bf2b5.jpg
2792195540_af5fb95caa.jpg
2792195540_af5fb95caa.jpg
2792195540_af5fb95caa.jpg
2831578193_3c997ae330.jpg
2831578193_3c997ae330.jpg
2831578193_3c997ae330.jpg
2838085973_42b6e9b5b1.jpg
2838085973_42b6e9b5b1.jpg
2838085973_42b6e9b5b1.jpg
2895966469_53e0b29295.jpg
2895966469_53e0b29295.jpg
2895966469_53e0b29295.jpg
2973269132_252bfd0160.jpg
2973269132_252bfd0160.jpg
2973269132_252bfd0160.jpg
2978236380_fb24c43f1e.jpg
2978236380_fb24c43f1e.jpg
2978236380_fb24c43f1e.jpg
2998861375_02817e0147.jpg
2998861375_02817e0147.jpg
2998861375_02817e0147.jpg
3005123298_d3017d5f5d.jpg
3005123298_d3017d5f5d.jpg
3005123298_d3017d5f5d.jpg
3016708786_3591106cca.jpg
3016708786_3591106cca.jpg
3016708786_3591106cca.jpg
3033825101_44a4390f16.jpg
3033825101_44a4390f16.jpg
3033825101_44a4390f16.jpg
3056569684_c264c88d00.jpg
3056569684_c264c88d00.jpg
3056569684_c264c88d00.jpg
3086507638_d8a2cd0ac3.jpg
3086507638_d8a2cd0ac3.jpg
3086507638_d8a2cd0ac3.jpg
3088074124_481139dc92.jpg
3088074124_481139dc92.jpg
3088074124_481139dc92.jpg
3099091086_f75f0ce09d.jpg
3099091086_f75f0ce09d.jpg
3099091086_f75f0ce09d.jpg
3131990048_369b081021.jpg
3131990048_369b081021.jpg
3131990048_369b081021.jpg
3136688093_568b053bdf.jpg
3136688093_568b053bdf.jpg
3136688093_568b053bdf.jpg
3155400369_69e3d6d70f.jpg
3155400369_69e3d6d70f.jpg
3155400369_69e3d6d70f.jpg
3160531982_37f5636b8a.jpg
3160531982_37f5636b8a.jpg
3160531982_37f5636b8a.jpg
3196100539_102fe877b3.jpg
3196100539_102fe877b3.jpg
3196100539_102fe877b3.jpg
3225058391_a12d38d911.jpg
3225058391_a12d38d911.jpg
3225058391_a12d38d911.jpg
3231237864_8cb1c6d863.jpg
3231237864_8cb1c6d863.jpg
3231237864_8cb1c6d863.jpg
3239866450_3f8cfb0c83.jpg
3239866450_3f8cfb0c83.jpg
3239866450_3f8cfb0c83.jpg
3246804978_ea2c9e56f2.jpg
3246804978_ea2c9e56f2.jpg
3246804978_ea2c9e56f2.jpg
3269661567_faf190885a.jpg
3269661567_faf190885a.jpg
3269661567_faf190885a.jpg
3274691778_94bb57bba3.jpg
3274691778_94bb57bba3.jpg
3274691778_94bb57bba3.jpg
3295418287_5d590dac43.jpg
3295418287_5d590dac43.jpg
3295418287_5d590dac43.jpg
3300679815_2c6c2301cb.jpg
3300679815_2c6c2301cb.jpg
3300679815_2c6c2301cb.jpg
3314900697_c5c5ae9af6.jpg
3314900697_c5c5ae9af6.jpg
3314900697_c5c5ae9af6.jpg
3315726723_64c9b0a945.jpg
3315726723_64c9b0a945.jpg
3315726723_64c9b0a945.jpg
3333039854_461329aac2.jpg
3333039854_461329aac2.jpg
3333039854_461329aac2.jpg
3335501468_628655d608.jpg
3335501468_628655d608.jpg
3335501468_628655d608.jpg
3338590946_f25b76cbc7.jpg
3338590946_f25b76cbc7.jpg
3338590946_f25b76cbc7.jpg
3354489242_dd529ffa1f.jpg
3354489242_dd529ffa1f.jpg
3354489242_dd529ffa1f.jpg
3366571152_20afb88ac1.jpg
3366571152_20afb88ac1.jpg
3366571152_20afb88ac1.jpg
3375134059_7e9eb2ef01.jpg
3375134059_7e9eb2ef01.jpg
3375134059_7e9eb2ef01.jpg
3409326324_a704565e8f.jpg
3409326324_a704565e8f.jpg
3409326324_a704565e8f.jpg
3409947123_a8d07edecf.jpg
3409947123_a8d07edecf.jpg
3409947123_a8d07edecf.jpg
3430782104_34da558eba.jpg
3430782104_34da558eba.jpg
3430782104_34da558eba.jpg
3434526008_02359881a0.jpg
3434526008_02359881a0.jpg
3434526008_02359881a0.jpg
3470008804_0ca36a7a09.jpg
3470008804_0ca36a7a09.jpg
3470008804_0ca36a7a09.jpg
3479245321_6a5bc470f8.jpg
3479245321_6a5bc470f8.jpg
3479245321_6a5bc470f8.jpg
3491607076_922ec561d9.jpg
3491607076_922ec561d9.jpg
3491607076_922ec561d9.jpg
3504479370_ff2d89a043.jpg
3504479370_ff2d89a043.jpg
3504479370_ff2d89a043.jpg
3517056462_483ee5a914.jpg
3517056462_483ee5a914.jpg
3517056462_483ee5a914.jpg
3518687038_964c523958.jpg
3518687038_964c523958.jpg
3518687038_964c523958.jpg
3525453732_f74a38f111.jpg
3525453732_f74a38f111.jpg
3525453732_f74a38f111.jpg
3535664885_c848c0faee.jpg
3535664885_c848c0faee.jpg
3535664885_c848c0faee.jpg
3551281733_b43bf6f870.jpg
3551281733_b43bf6f870.jpg
3551281733_b43bf6f870.jpg
3561543598_3c1b572f9b.jpg
3561543598_3c1b572f9b.jpg
3561543598_3c1b572f9b.jpg
3564907603_14ccc655f1.jpg
3564907603_14ccc655f1.jpg
3564907603_14ccc655f1.jpg
3574930742_9081bd2426.jpg
3574930742_9081bd2426.jpg
3574930742_9081bd2426.jpg
3582048078_7bac2d8473.jpg
3582048078_7bac2d8473.jpg
3582048078_7bac2d8473.jpg
358875403_f357f03713.jpg
358875403_f357f03713.jpg
358875403_f357f03713.jpg
3591461782_687e320042.jpg
3591461782_687e320042.jpg
3591461782_687e320042.jpg
3599392711_8264881de2.jpg
3599392711_8264881de2.jpg
3599392711_8264881de2.jpg
3619232550_0b1e1fd4e4.jpg
3619232550_0b1e1fd4e4.jpg
3619232550_0b1e1fd4e4.jpg
3640109324_3ce89e4d1a.jpg
3640109324_3ce89e4d1a.jpg
3640109324_3ce89e4d1a.jpg
3640443200_b8066f37f6.jpg
3640443200_b8066f37f6.jpg
3640443200_b8066f37f6.jpg
3664928753_7b0437fedf.jpg
3664928753_7b0437fedf.jpg
3664928753_7b0437fedf.jpg
3736786640_70df13be2c.jpg
3736786640_70df13be2c.jpg
3736786640_70df13be2c.jpg
394563330_68b566368c.jpg
394563330_68b566368c.jpg
394563330_68b566368c.jpg
423066487_07757b2b49.jpg
423066487_07757b2b49.jpg
423066487_07757b2b49.jpg
عيدا في المنطقة المشجرة
482088914_e6ea4501e9.jpg
482088914_e6ea4501e9.jpg
482088914_e6ea4501e9.jpg
531197115_2be4d5034b.jpg
531197115_2be4d5034b.jpg
531197115_2be4d5034b.jpg
61209225_8512e1dad5.jpg
61209225_8512e1dad5.jpg
61209225_8512e1dad5.jpg
843616798_5ab0ecb525.jpg
843616798_5ab0ecb525.jpg
843616798_5ab0ecb525.jpg

,file_name,caption,split
9276,2844846111_8c1cbfc75d.jpg,شخص يتسلق صخرة بينما يقف الآخرون ويراقبون,train
434,115684808_cb01227802.jpg,ثلاثة اشخاص وزلاجة,test
21612,414773731_c3f5bf43d5.jpg,كلب أسود يركض في الثلج,val
7331,261737543_b8fdc24671.jpg,شخص يقفز من صخرة عالية,train
22958,532036676_e88b13e0a1.jpg,طفل في قميص أبيض وجينز,train

In [9]:
ar_df[ar_df['split'] == 'train'].file_name.nunique() , ar_df[ar_df['split'] == 'train'].shape

(6000, (18000, 3))

In [10]:
df[df['split'] == 'train'].file_name.nunique() , df[df['split'] == 'train'].shape

(6000, (30000, 3))

In [11]:
ar_df[ar_df['split'] == 'val'].file_name.nunique() , ar_df[ar_df['split'] == 'val'].shape

(1000, (3000, 3))

In [12]:
df[df['split'] == 'val'].file_name.nunique() , df[df['split'] == 'val'].shape

(1000, (5000, 3))

In [13]:
ar_df[ar_df['split'] == 'test'].file_name.nunique() , ar_df[ar_df['split'] == 'test'].shape

(1000, (3000, 3))

In [14]:
df[df['split'] == 'test'].file_name.nunique() , df[df['split'] == 'test'].shape

(1000, (5000, 3))

In [17]:
# save arabic data file
ar_df.to_csv('ar_data.csv', index=False)