In [1]:
import pandas as pd
import json

### Karpathy Splits

In [2]:
file_path = 'dataset_flickr8k.json'
with open(file_path, 'r') as f:
    data = json.load(f)

In [3]:
file_names = []
splits = []
captions = []

for img in data['images']:
    for sent in img['sentences']:
        file_names.append(img['filename'])
        captions.append(sent['raw'])
        splits.append(img['split'])

In [4]:
df = pd.DataFrame({
    'file_name': file_names,
    'split': splits,
    'caption': captions
})

In [5]:
df.head(10)

,file_name,split,caption
0,2513260012_03d33305cf.jpg,train,A black dog is running after a white dog in th...
1,2513260012_03d33305cf.jpg,train,Black dog chasing brown dog through snow
2,2513260012_03d33305cf.jpg,train,Two dogs chase each other across the snowy gro...
3,2513260012_03d33305cf.jpg,train,Two dogs play together in the snow .
4,2513260012_03d33305cf.jpg,train,Two dogs running through a low lying body of w...
5,2903617548_d3e38d7f88.jpg,train,A little baby plays croquet .
6,2903617548_d3e38d7f88.jpg,train,A little girl plays croquet next to a truck .
7,2903617548_d3e38d7f88.jpg,train,The child is playing croquette by the truck .
8,2903617548_d3e38d7f88.jpg,train,The kid is in front of a car with a put and a ...
9,2903617548_d3e38d7f88.jpg,train,The little boy is playing with a croquet hamme...

In [6]:
df['split'].unique()

array(['train', 'val', 'test'], dtype=object)

In [7]:
df.shape

(40000, 3)

In [8]:
df.file_name.nunique()

8000

In [9]:
print(df[df['split'] == 'train'].file_name.nunique())
print(df[df['split'] == 'val'].file_name.nunique())
print(df[df['split'] == 'test'].file_name.nunique())

6000
1000
1000

In [10]:
df.to_csv("data.csv", index=False)