In [12]:
import pandas as pd
from shutil import copy2
from tqdm import tqdm

In [3]:
df = pd.read_json("data/ar_data.json")
df.head()

,file_name,caption,split,tok_len,tokens
0,1000268201_693b08cb0e.jpg,طفلة صغيرة تتسلق إلى مسرح خشبي,train,10,"[طفل, +, ة, صغير, +, ة, تتسلق, إلى, مسرح, خشبي]"
1,1000268201_693b08cb0e.jpg,طفلة صغيرة تتسلق الدرج إلى منزلها,train,14,"[طفل, +, ة, صغير, +, ة, تتسلق, ال, +, درج, إلى..."
2,1000268201_693b08cb0e.jpg,فتاة صغيرة في ثوب وردي تذهب إلى المقصورة الخشبية,train,21,"[فتا, +, ة, صغير, +, ة, في, ثوب, وردي, تذهب, إ..."
3,1001773457_577c3a7d70.jpg,كلب أسود وكلب ثلاثي الألوان يلعبان مع بعضهما ا...,train,23,"[كلب, أسود, و, +, كلب, ثلاثي, ال, +, ألوان, يل..."
4,1001773457_577c3a7d70.jpg,كلب أسود وكلب أبيض ببقع بنية يحدقان في بعضهما ...,train,24,"[كلب, أسود, و, +, كلب, أبيض, ب, +, بقع, بني, +..."

In [23]:
df_test = df[df['split'] == 'val']

In [24]:
df_test['tok_len'].min(), df_test['tok_len'].max()

(2, 60)

In [25]:
df_test['tok_len'].mean(), df_test['tok_len'].median()

(15.044333333333332, 14.0)